@{
    ViewBag.Title = "InformationToUser";
}

<h2>
    We do not have cars available From @ViewBag.startDate.ToString("MM/dd/yyyy") To @ViewBag.endDate.ToString("MM/dd/yyyy")!<br/>
    Please chose other car or other dates.
</h2>
