@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>

<article>
    <p>
        This site is built by <mark>Olivia Frumin</mark> as final MVC project.
        <br />
        This project is part of <a href="http://www.johnbryce.co.il/">johnbryce</a> curricula of .NET programmers course.
    </p>
    <p>
        During the course we study <mark>C#, MVC, SQL and JavaScript.</mark>
    </p>
    <p>
        In this project there is 5 SQL Tables - User, User Roles,Roles, Vehicles Types, Vehicles Fleet and Leased Vehicles.
        <br />
        As well as several stored prosedures.
    </p>
    <p>
        In the search page there is filter menu on the side that work in <mark>jquery</mark> - not ajax so the filtering is more fast and no load on the server.
        <br />
        Also in many pages there is use in <mark> ajax.</mark>
    </p>
    <p>
        On the left in this page you can see the users and their roles to see all pages.
    </p>
</article>

<aside>
    <h3>Users details</h3>
    <p>
        Here is users to see all pages:
        <br />
        The password for all of them is 123456
    </p>
    <ul>
        <li>
            oliv - Admin role
        </li>
        <li>
            oliv - Manager role
        </li>
        <li>
            omer - Employee role
        </li>
        <li>
            andy - User role
        </li>
    </ul>
</aside>
