@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span>Main:</span>
        <span>04-6200000</span>
    </p>
    <p>
        <span>After Hours:</span>
        <span>052-5555555</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span>Support:</span>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span>Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span>General:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Homa Umigdal 40, Tel Aviv<br />
        Floor 4, room 403
    </p>
</section>
