@{
    ViewBag.Title = "NotAuthorized";
}
<div class="text-center">
    <h2>Not Authorized</h2>
    <div>
        <strong>
            Sorry. You are not authorized to view this page.
        </strong>
    </div>
    <div>
        <img src="~/Images/notAuthorized.jpg" />
    </div>
</div>