@{
    ViewBag.Title = "Mange Home";
}

<h2>Manger Home</h2>


<div id="Tabs">
    <ul>

    </ul>

    <div id="ManagerHome">
        <h3>Welcome to the manager home page!</h3>
        <p>Here you can edit/add/delete any record in the Database</p>
        <ul>
            <li>
                <h4>
                    <a href="VehiclesTypes/vehiclesTypesIndex">Mange Vehicles Types</a>
                </h4>
                <p>You can create new vehicles types, see and edit the the existing vehicles types and delete vehicle type.</p>
            </li>
            <li>
                <h4>
                    <a href="VehiclesFleet/vehiclesFleetIndex">Mange Vehicles Fleet</a>
                </h4>
                @*<h4 id="linkToTab2" class="lookLikeLink">Mange Vehicles Fleet</h4>*@
                <p>You can add new vehicle to the fleet, see and edit the the existing vehicles in the fleet and delete vehicle type.</p>
            </li>
            <li>
                <h4>
                    <a href="MangeHome/leasedVehicleIndex">Show leased Vehicle</a>
                </h4>
                <p>You can see all the history of the rentals, and you can go to return vehicles page.</p>
            </li>
            <li>
                <h4>
                    <a href="Users/UsersIndex">Mange Users</a>
                </h4>
                <p>You can see the all users, delete user, edit user</p>
            </li>
            <li>
                <h4>
                    <a href="Users/Manage">Mange Users Role</a>
                </h4>
                <p>You can see the all users roles, delete and edit users roles</p>
            </li>
            <li>
                <h4>
                    <a href="Branches/branchesIndex">Mange Branches</a>
                </h4>
                <p>You can see the all branches, delete, edit and create</p>
            </li>
        </ul>
    </div>
</div>








